@using DataAccess

@{
    ViewBag.Title = "Schema";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your medicine schema</h2>

<table class="table table-striped table-hover" id="schema">
    <thead>
        <tr>
            <th>#</th>
            <th>Time</th>
            <th>Medication</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        @{
            //add code to read from json file
        }
    </tbody>
</table>

