@using MedDispenser.Models
@{
    ViewBag.Title = "Schema";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your medicine schema</h2>

<table class="table table-striped table-hover" id="schema">
    <thead>
        <tr>
            <th>Time</th>
            <th>Medication</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
    @{

        JsonToolbox jt = new JsonToolbox();

        var list = jt.DeSerialize();

        var q = from item in list
            select item;


        foreach (var t in q)
        {
            <tr>
                <td>@t.TimeToTake</td>
                <td>@t.MedicineType</td>
                <td>@t.Comment</td>
            </tr>
        }
    }
    </tbody>
</table>

