@*@{
    ViewBag.Title = "Home Page";
}

<figure class="floatright">
    <img src="/images/windingroad.jpg" alt="winding road" width="333" height="156" />
</figure>
<ul>
    <li>Specialty Coffee and Tea</li>
    <li>Bagels, Muffins, and Organic Snacks</li>
    <li>Music and Poetry Readings</li>
    <li>Open Mic Night</li>
</ul>
<div>
    12312 Main Street<br />
    Mountain Home, CA 93923<br />
    <a id="mobile" href="tel:1-888-555-5555">1-888-555-5555</a>
    <span id="desktop">1-888-555-5555</span><br />
    <br>
</div>*@

@{
    ViewBag.Title = "Home Page";
}

<figure class="floatright">
    <img src="/images/windingroad.jpg" alt="winding road" width="333" height="156" />
</figure>
<ul>
    <li>Specialty Coffee and Tea</li>
    <li>Bagels, Muffins, and Organic Snacks</li>
    <li>Music and Poetry Readings</li>
    <li>Open Mic Night</li>
</ul>
<div>
    12312 Main Street<br />
    Mountain Home, CA 93923<br />
    <a id="mobile" href="tel:1-888-555-5555">1-888-555-5555</a>
    <span id="desktop">1-888-555-5555</span><br />
    <br>
</div>