@using VittighederWeb.Tools

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dine gemte jokes</h2>

<table class="table table-striped table-hover" id="jokeTable">
    <thead>
        <tr>
            <th>Joke</th>
            <th>Forfatter</th>
            <th>Tilføjet</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
    @{
        JsonToolbox jsonToolbox = new JsonToolbox();

        if (File.Exists(jsonToolbox.Path))
        {


            var list = jsonToolbox.DeSerialize();

            var q = from item in list
                    select item;

            foreach (var joke in q.Reverse())
            {
                    <tr>
                        <td>@joke.Text</td>
                        <td>@joke.Author</td>
                        <td>@joke.DateTime</td>
                        <td>
                            @if (joke.Tags != null)
                            {
                                foreach (var tag in joke.Tags.Split(','))
                                {
                                    <a href="/TagSearch/Search?query=@tag">
                                        <span class="label label-default">@tag</span>
                                    </a>
                                }
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>