@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Vestre Ringgade 180<br />
    <abbr title="Phone">P:</abbr>
    +45 61 42 34 02
</address>

<address>
    
    <strong>Contact:</strong> <a href="mailto:admin@joachim.io">admin@joachim.io</a>
</address>