@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Medicine Dispenser&trade;</h1>
    <p class="lead">Medicine Dispenser&trade; helps you remember your meds.</p>
    <figure class="floatright">
        <img src="~/images/pills.jpg" height="275" width="350"/>
    </figure>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more about the system &raquo;</a></p>
</div>

