@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Medicine Dispenser&trade;</h1>
    <p class="lead">Medicine Dispenser&trade; helps you remember your meds.</p>
    <figure class="floatright">
        <img src="~/images/pills.jpg" height="275" width="350"/>
    </figure>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more about the system &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        
        <h2>Getting started</h2>
        <p>
            Create your personal medicine schema. Always contact your physician if you have any questions regarding medicine intake.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
        </p>
    </div>
</div>